<%- include('./../layout/header'); %>
<%- include('./../frontpage/home'); %>
<div class="site-section" id="pricing-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
            <h2 class="font-weight-bold text-black">Add Course Detail</h2>
            <p class="mb-5">Tambahkan content untuk kursus ini.</p>
            </div>
        </div>
        <div class="col-md-12">
            <form method="post" action="/course/saveCourse">
                <div class="form-group">
                  <label>Course's Title</label>
                  <input name="name" type="text" class="form-control" placeholder="Enter Course's title">
                  <small class="form-text text-muted">Make sure course's title is lengkap dan jelas.</small>
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input name="price" type="number" min="0" class="form-control" placeholder="Enter Course's price">
                    <small class="form-text text-muted">Make sure course's price is santuy and cucok.</small>
                </div>  
                <button type="submit" class="btn btn-primary">Save Course & Add Contents</button>
              </form>
        </div>
    </div>
</div>   

<%- include('./../layout/footer'); %>
