<%- include('./../layout/header'); %>
<%- include('./../frontpage/home'); %>
<div class="site-section" id="pricing-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
            <h2 class="font-weight-bold text-black">Add Course</h2>
            <p class="mb-5">Tambahkan kurus biar makin mantul generasi kite :) .</p>
            </div>
        </div>
        <div class="row">
            <form>
                <div class="form-group">
                  <label>Course's Title</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>   

<%- include('./../layout/footer'); %>
