<%- include('./../layout/header'); %>

<div class="site-blocks-cover overlay" style="background-image: url(images/hero_bg_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5"id="home-section">
    <div class="container crud">
        <div class="col-md-12" style="padding-top: 12%;">
            <h2 class="title text-uppercase">Courses</h2>
            <span class="sub-text mb-3 d-block"><em>Choose your courses and be the best...!</em></span>
            
            
            <!-- Course list Here -->
            <div class="site-section" id="pricing-section">
                <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-7 text-center">
                    <span class="sub-title">Pricing</span>
                    <h2 class="font-weight-bold text-black">Choose Your Plan</h2>
                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, explicabo, quasi. Magni deserunt sunt labore.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 pricing">
                    <div class="border p-5 text-center rounded">
                        <h3>Starter</h3>
                        <div class="price mb-3"><sup class="currency">$</sup><span class="number">30</span> <span class="per">/year</span></div>
                        <p class="text-muted mb-4">* Billed annualy or $10 per month</p>
                        <ul class="list-unstyled ul-check text-left success mb-5">
                        <li>Max 5 users</li>
                        <li>29 local security</li>
                        <li class="text-muted"><del>Desktop App</del></li>
                        <li class="text-muted"><del>Email Support</del></li>
                        <li class="text-muted"><del>Phone Support 24/7</del></li>
                        </ul>
                        <p><a href="#" class="btn btn-lg btn-primary rounded-0 btn-block">Buy Now</a></p>
                    </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 pricing">
                    <div class="border p-5 text-center rounded">
                        <h3>Professional</h3>
                        <div class="price mb-3"><sup class="currency">$</sup><span class="number">72</span> <span class="per">/year</span></div>
                        <p class="text-muted mb-4">* Billed annualy or $30 per month</p>
                        <ul class="list-unstyled ul-check text-left success mb-5">
                        <li>Max 10 users</li>
                        <li>29 local security</li>
                        <li>Desktop App</li>
                        <li>Email Support</li>
                        <li class="text-muted"><del>Phone Support 24/7</del></li>
                        </ul>
                        <p><a href="#" class="btn btn-lg btn-primary rounded-0 btn-block">Buy Now</a></p>
                    </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 pricing">
                    <div class="border p-5 text-center rounded">
                        <h3>Enterprise</h3>
                        <div class="price mb-3"><sup class="currency">$</sup><span class="number">130</span> <span class="per">/year</span></div>
                        <p class="text-muted mb-4">* Billed annualy or $10 per month</p>
                        <ul class="list-unstyled ul-check text-left success mb-5">
                        <li>Unlimitted users</li>
                        <li>29 local security</li>
                        <li>Desktop App</li>
                        <li>Email Support</li>
                        <li>Phone Support 24/7</li>
                        </ul>
                        <p><a href="#" class="btn btn-lg btn-primary rounded-0 btn-block">Buy Now</a></p>
                    </div>
                    </div>

                </div>
                </div>
            </div>   
        </div>
    </div>
</div>  
<%- include('./../layout/footer'); %>
