<div class="site-section about-section" id="about-section">
    <div class="container">
      <div class="row align-items-center mb-5 pb-5">
        <div class="col-lg-7 img-years mb-5 mb-lg-0">
          <img src="images/hero_bg_1.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-4 ml-auto">
          <span class="sub-title">Learn To Know</span>
          <h3 class="mb-4">About Us</h3>
          <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate fuga ipsum commodi aliquid aspernatur reiciendis enim cum voluptas id itaque, asperiores modi, voluptatibus sed voluptate nulla et ratione aliquam! Quaerat.</p>
          <ul class="list-unstyled ul-check text-left success mb-5">
              <li>Asperiores modi sed</li>
              <li>Enim cum voluptas</li>
              <li>Commodi aliquid aspernatur</li>
              <li>Cupiditate fuga ipsum commodi</li>
            </ul>
          <p><a href="#" class="btn btn-primary btn-lg rounded-0">Read More About Us</a></p>
        </div>
      </div>

      
    </div>
  </div>
