<div class="site-section bg-light" id="contact-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 text-center">
          <span class="sub-title">Get In Touch</span>
          <h2 class="font-weight-bold text-black">Contact Us</h2>
          <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, explicabo, quasi. Magni deserunt sunt labore.</p>
        </div>
      </div>
      <div class="row">
        
        <div class="col-md-12 col-lg-12">
        
          <form action="/contact" method="POST" class="p-5 bg-white">
            <div class="row form-group">
              <div class="col-md-12 mb-3 mb-md-0">
                <label class="font-weight-bold" for="fullname">Full Name</label>
                <input name="fullname" type="text" class="form-control" placeholder="Full Name">
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12">
                <label class="font-weight-bold" for="email">Email</label>
                <input name="email" type="email" class="form-control" placeholder="Email Address">
              </div>
            </div>

            

            <div class="row form-group">
              <div class="col-md-12">
                <label class="font-weight-bold" for="message">Message</label> 
                <textarea name="message" cols="30" rows="5" class="form-control" placeholder="Say hello to us"></textarea>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <input type="submit" value="Send Message" class="btn btn-primary rounded-0 btn-lg">
              </div>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>
