<div class="site-section" id="news-section">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <span class="sub-title">News &amp; Update</span>
          <h2 class="font-weight-bold text-black mb-5">Our Blog Posts</h2>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 post-entry">
          <a href="#" class="d-block figure">
            <img src="images/img_1.jpg" alt="Image" class="img-fluid">
          </a>
          <span class="text-muted d-block mb-1">29, January 2019</span>
          <h3><a href="#">Architectural Art Modern</a></h3>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 post-entry">
          <a href="#" class="d-block figure">
            <img src="images/img_2.jpg" alt="Image" class="img-fluid">
          </a>
          <span class="text-muted d-block mb-1">29, January 2019</span>
          <h3><a href="#">Architectural Art Modern</a></h3>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 post-entry">
          <a href="#" class="d-block figure">
            <img src="images/img_3.jpg" alt="Image" class="img-fluid">
          </a>
          <span class="text-muted d-block mb-1">29, January 2019</span>
          <h3><a href="#">Architectural Art Modern</a></h3>
        </div>

      </div>
      <div class="row mt-5 text-center">
        <div class="col-12">
          <p><a href="#" class="btn btn-primary btn-lg rounded-0">View All Posts</a></p>
        </div>
      </div>
    </div>
  </div>
