<div class="site-section  border-bottom">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
          <div class="media custom-media">
            <div class="mr-3 icon"><span class="flaticon-window display-4"></span></div>
            <div class="media-body">
              <h5 class="mt-0">Innovative Structure</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin..
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
          <div class="media custom-media">
            <div class="mr-3 icon"><span class="flaticon-sit-down display-4"></span></div>
            <div class="media-body">
              <h5 class="mt-0">Arhictectural</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin..
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
          <div class="media custom-media">
            <div class="mr-3 icon"><span class="flaticon-turned-off display-4"></span></div>
            <div class="media-body">
              <h5 class="mt-0">Interior Design</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin..
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>