<div class="site-section" id="our-team-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 text-center">
          <span class="sub-title">Meet Our Team</span>
          <h2 class="font-weight-bold text-black">Our Team</h2>
          <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, explicabo, quasi. Magni deserunt sunt labore.</p>
        </div>
      </div>
     
      <div class="row">

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="person">
            <div class="bio-img">
              <figure>
                <img src="images/person_1.jpg" alt="Image" class="img-fluid">
              </figure>
              <div class="social">
                <a href="#"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-instagram"></span></a>
              </div>
            </div>
            <h2>Morena Margaret</h2>
            <span class="sub-title d-block mb-3">Asisten Rumah Tangga</span>
            <p>Saya gatau kenapa bisa disini.....</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="person">
            <div class="bio-img">
              <figure>
                <img src="images/person_2.jpg" alt="Image" class="img-fluid">
              </figure>
              <div class="social">
                <a href="#"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-instagram"></span></a>
              </div>
            </div>
            <h2>Onesinus Saut Parulian</h2>
            <span class="sub-title d-block mb-3">Tukang Indomie</span>
            <p>Hargai kedua orang tuamu... <br>mereka berhasil lulus dari sekolah tanpa bantuan google.</p>
            
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="person">
            <div class="bio-img">
              <figure>
                <img src="images/person_4.jpg" alt="Image" class="img-fluid">
              </figure>
              <div class="social">
                <a href="#"><span class="icon-facebook"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
                <a href="#"><span class="icon-instagram"></span></a>
              </div>
            </div>
            <h2>Fajrin Noor Rachman</h2>
            <span class="sub-title d-block mb-3">Penjaga Warkop</span>
            <p>Ide KURSUS KUY timbul saat kami sedang mengalam depresi sehabis live code, saya harap KURSUS KUY dapat membantu anda dalam mempelajari banyak hal, agar depresi kami menjadi berkah untuk kalian semua.</p>
          </div>
        </div>

        

      </div>
    </div>
  </div>