<div class="site-section" id="services-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 text-center">
          <span class="sub-title">Services</span>
          <h2 class="font-weight-bold text-black">Our Services</h2>
          <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, explicabo, quasi. Magni deserunt sunt labore.</p>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6 mb-5">
          <div class="media custom-media">
            <div class="mr-3 icon"><span class="flaticon-interior-design display-4"></span></div>
            <div class="media-body">
              <h5 class="mt-0">Innovative Structure</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin..
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 mb-5">
          <div class="media custom-media">
            <div class="mr-3 icon"><span class="flaticon-step-ladder display-4"></span></div>
            <div class="media-body">
              <h5 class="mt-0">Arcitectural Design</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin..
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-5">
          <div class="media custom-media">
            <div class="mr-3 icon"><span class="flaticon-turned-off display-4"></span></div>
            <div class="media-body">
              <h5 class="mt-0">Interior Design</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin..
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-5">
          <div class="media custom-media">
            <div class="mr-3 icon"><span class="flaticon-window display-4"></span></div>
            <div class="media-body">
              <h5 class="mt-0">Modern Window Design</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin..
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 mb-5">
          <div class="media custom-media">
            <div class="mr-3 icon"><span class="flaticon-measuring display-4"></span></div>
            <div class="media-body">
              <h5 class="mt-0">Experts Architect</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin..
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-5">
          <div class="media custom-media">
            <div class="mr-3 icon"><span class="flaticon-sit-down display-4"></span></div>
            <div class="media-body">
              <h5 class="mt-0">Sofa Design</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin..
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>