<div class="container site-section block-13 testimonial-wrap">

    <div class="row">
      <div class="col-12 text-center">
        <span class="sub-title">Happy Clients</span>
        <h2 class="font-weight-bold text-black mb-5">Testimonials</h2>
      </div>
    </div>

    <div class="nonloop-block-13 owl-carousel">
      
      <div class="testimony px-5">
        <img src="images/person_1.jpg" alt="Image" class="img-fluid">
        <h3>Cloe Marena</h3>
        <span class="sub-title">Owner of Building Co.</span>
        <p>&ldquo;<em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium non eligendi totam natus ullam cumque! Assumenda optio, ad in! Nesciunt natus veritatis hic iste quas. Sunt iste autem vel repudiandae.</em>&rdquo;</p>
      </div>
    
      <div class="testimony px-5">
        <img src="images/person_2.jpg" alt="Image" class="img-fluid">
        <h3>Nathalie Channie</h3>
        <span class="sub-title">Owner of Building Co.</span>
        <p>&ldquo;<em>Eveniet, laboriosam impedit facilis. Voluptatem, repudiandae eligendi maiores sunt itaque, dolores voluptas labore perferendis, illum tenetur suscipit vero officia. Quaerat facilis cum ex a labore iusto, beatae fuga nam rem, quos vel aliquam nobis.</em>&rdquo;</p>
      </div>

      <div class="testimony px-5">
        <img src="images/person_3.jpg" alt="Image" class="img-fluid">
        <h3>Will Turner</h3>
        <span class="sub-title">Owner of Building Co.</span>
        <p>&ldquo;<em>Laboriosam nisi natus quos soluta blanditiis iste in distinctio fugiat perferendis, architecto eveniet provident, consequatur dolore ab nihil voluptatibus laborum magnam cum assumenda nobis, nam quam quae! Unde porro laboriosam nam qui! Eligendi, qui!</em>&rdquo;</p>
      </div>

      <div class="testimony px-5">
        <img src="images/person_4.jpg" alt="Image" class="img-fluid">
        <h3>Nicolas Stainer</h3>
        <span class="sub-title">Owner of Building Co.</span>
        <p>&ldquo;<em>Voluptatibus sed vero corporis reiciendis, ducimus iste aliquam doloribus voluptas nam quo assumenda perferendis excepturi accusantium, ipsam minus tempora earum exercitationem laborum. Delectus voluptate quaerat repellat obcaecati. Qui nemo ad similique facere modi dolores.</em>&rdquo;</p>
      </div>
    </div>
  </div>