<div class="container site-section block-13 testimonial-wrap">

    <div class="row">
      <div class="col-12 text-center">
        <span class="sub-title">Happy Clients</span>
        <h2 class="font-weight-bold text-black mb-5">Testimonials</h2>
      </div>
    </div>

    <div class="nonloop-block-13 owl-carousel">
      
      <div class="testimony px-5">
        <img src="images/person_1.jpg" alt="Image" class="img-fluid">
        <h3>Cloe Marena</h3>
        <span class="sub-title">Owner of Building Co.</span>
        <p>&ldquo;<em>Dulu saya malas belajar, sejak ada kursuskuy.id saya jadi malas mandi.</em>&rdquo;</p>
      </div>
    
      <div class="testimony px-5">
        <img src="images/person_2.jpg" alt="Image" class="img-fluid">
        <h3>Nathalie Channie</h3>
        <span class="sub-title">Owner of Building Co.</span>
        <p>&ldquo;<em>You kap i kap everyone is kap swadikap lew lew lew 
          โง่
          Ngò.</em>&rdquo;</p>
      </div>

      <div class="testimony px-5">
        <img src="images/person_6.jpg" alt="Image" class="img-fluid">
        <h3>Will Turner</h3>
        <span class="sub-title">Owner of Building Co.</span>
        <p>&ldquo;<em>Kalian semua suci, aku penuh dosa... paansi coeg!</em>&rdquo;</p>
      </div>

      <div class="testimony px-5">
        <img src="images/person_5.jpg" alt="Image" class="img-fluid">
        <h3>Nicolas Stainer</h3>
        <span class="sub-title">Owner of Building Co.</span>
        <p>&ldquo;<em>todos ustedes son santos, matamu estoy lleno de pecado.</em>&rdquo;</p>
      </div>
    </div>
  </div>